<a href="https://colab.research.google.com/github/Dharanee3045/Dharanee-lab-test1/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [17]:
file_path ='/content/drive/MyDrive/ODD (2).xlsx'
df = pd.read_excel(file_path)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Employee_Name              91 non-null     object
 1   Employee_ID                100 non-null    int64
 2   Job_Role                   90 non-null     object
 3   Phone_Number               92 non-null     float64
 4   Email_ID                   91 non-null     object
 5   Total_Work_Hour_per_Month  77 non-null     float64
 6   Salary_per_Month           80 non-null     float64
dtypes: float64(3), int64(1), object(3)
memory usage: 5.6+ KB

1.Are there missing values in any columns? If so, in which columns?

In [20]:
import pandas as pd

# Assuming you already have a DataFrame called 'df'
# Check for missing values
missing_values = df.isnull().sum()

# Print columns with missing values
print(missing_values[missing_values > 0])

Employee_Name                 9
Job_Role                     10
Phone_Number                  8
Email_ID                      9
Total_Work_Hour_per_Month    23
Salary_per_Month             20
dtype: int64

2.What is the data type of each column, and are they appropriate for their context?

In [21]:
import pandas as pd

# Assuming you already have a DataFrame called 'df'
# Get the data types of each column
data_types = df.dtypes

# Print data types of each column
print(data_types)

Employee_Name                 object
Employee_ID                    int64
Job_Role                      object
Phone_Number                 float64
Email_ID                      object
Total_Work_Hour_per_Month    float64
Salary_per_Month             float64
dtype: object

3.Some employees have “9999” in the Total_Work_Hour_per_Month column. What does this represent, and should it be replaced?

In [25]:
import pandas as pd
import numpy as np

# Sample dataframe
data = {'Employee_ID': [1, 2, 3, 4],
        'Total_Work_Hour_per_Month': [160, 9999, 170, 9999]}
df = pd.DataFrame(data)

# Replace '9999' in 'Total_Work_Hour_per_Month' column with NaN
df['Total_Work_Hour_per_Month'] = df['Total_Work_Hour_per_Month'].replace(9999, np.nan)

# Check the updated dataframe
print(df)

   Employee_ID  Total_Work_Hour_per_Month
0            1                      160.0
1            2                        NaN
2            3                      170.0
3            4                        NaN

4.The Phone_Number column has inconsistent formats. What steps can be taken to standardize it?

In [26]:
import pandas as pd
import re

# Sample dataframe
data = {'Employee_ID': [1, 2, 3, 4],
        'Phone_Number': ['(123) 456-7890', '123.456.7890', '123-456-7890', '456 789 0123']}
df = pd.DataFrame(data)

# Function to standardize phone numbers
def standardize_phone_number(phone):
    # Remove all non-numeric characters
    phone = re.sub(r'\D', '', phone)

    # Ensure the phone number is 10 digits long (e.g., in case it's too long or too short)
    if len(phone) == 10:
        # Format as (XXX) XXX-XXXX
        return f"({phone[:3]}) {phone[3:6]}-{phone[6:]}"
    else:
        return None  # Or you can return a placeholder if the length is incorrect

# Apply the function to the Phone_Number column
df['Phone_Number'] = df['Phone_Number'].apply(standardize_phone_number)

# Print the updated dataframe
print(df)

   Employee_ID    Phone_Number
0            1  (123) 456-7890
1            2  (123) 456-7890
2            3  (123) 456-7890
3            4  (456) 789-0123

5.Compute an "Hourly Wage" column from Salary_per_Month and Total_Work_Hour_per_Month?

In [28]:
import pandas as pd

# Sample dataframe
data = {'Employee_ID': [1, 2, 3, 4],
        'Salary_per_Month': [3000, 4000, 3500, 4500],
        'Total_Work_Hour_per_Month': [160, 180, 170, 160]}
df = pd.DataFrame(data)

# Compute Hourly Wage
df['Hourly_Wage'] = df['Salary_per_Month'] / df['Total_Work_Hour_per_Month']

# Print the updated dataframe
print(df)

   Employee_ID  Salary_per_Month  Total_Work_Hour_per_Month  Hourly_Wage
0            1              3000                        160    18.750000
1            2              4000                        180    22.222222
2            3              3500                        170    20.588235
3            4              4500                        160    28.125000